.maindiv{display: flex;}

.heading{padding: 100px;
}
 .botton{display: flex;
justify-content: space-around;
background-color: gray;
height: 80px;
padding: 10px;
margin-left: 130px;
margin-right: 130px;
border-radius: 20px;}
.Earth{

justify-content: center;
display: flex;
}
.heading2{display: flex;
justify-content: center;}
.btn{display: flex;

margin-left: 60px;
}
.radius{
display: flex;}

.box{
    
    background-color: beige;
    padding: 60px;
    margin: 20px;
    border-radius: 20px;
 
    height: 250px;
    cursor: pointer;
    
    
    

    
    
 }
